1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module

In [8]:
import pandas as pd

In [9]:
series = pd.Series(["Python","DataScience", "Django"])

In [10]:
series

0         Python
1    DataScience
2         Django
dtype: object

2. Write a Pandas program to convert a Panda module Series to Python list and itâ€™s type.

In [11]:
type(series)

pandas.core.series.Series

In [15]:
s_List = series.tolist()

In [16]:
type(s_List)

list

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.

In [29]:
first_series  = pd.Series([2, 4, 6, 8, 10])
second_series = pd.Series([1, 3, 5, 7, 9])

In [36]:
add = first_series + second_series
sub = first_series - second_series
mul = first_series * second_series
div = first_series // second_series

In [37]:
add

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [38]:
sub

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [39]:
mul

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [40]:
div

0    2
1    1
2    1
3    1
4    1
dtype: int64

4. Write a Python program to get the largest integer smaller or equal to the division of the inputs.

In [43]:
ds1  = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

In [44]:
ds1 > ds2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [45]:
ds1 < ds2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [48]:
ds1 == ds2

0    True
1    True
2    True
3    True
4    True
dtype: bool

5. Write a Python program to convert a dictionary to a Pandas series.<br>Sample Series:
Original dictionary: {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [49]:
original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [52]:
converted_dict = pd.Series(original_dict)

In [53]:
converted_dict

a    100
b    200
c    300
d    400
e    800
dtype: int64